name: CI
on:
  create: # when tags are created
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  native_builds:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            build_args: Release win-x64 --artifact-name build\\win-x64\\libveldrid-spirv.dll
            build_target: win-x64
            artifact_name: build\win-x64\libveldrid-spirv.dll
          - os: windows-latest
            build_args: Release win-x86 --artifact-name build\\win-x86\\libveldrid-spirv.dll
            build_target: win-x86
            artifact_name: build\win-x86\libveldrid-spirv.dll
          - os: windows-latest
            build_args: Release --android-ndk '%ANDROID_NDK_HOME%' --android-abi arm64-v8a --artifact-name build\\android-arm64-v8a\\libveldrid-spirv.so
            build_target: android-arm64-v8a
            artifact_name: build\android-arm64-v8a\libveldrid-spirv.so
          - os: windows-latest
            build_args: Release --android-ndk '%ANDROID_NDK_HOME%' --android-abi x86_64 --artifact-name build\\android-x86_64\\libveldrid-spirv.so
            build_target: android-x86_64
            artifact_name: build\android-x86_64\libveldrid-spirv.so
          - os: windows-latest
            build_args: Release --android-ndk '%ANDROID_NDK_HOME%' --android-abi armeabi-v7a --artifact-name build\\android-armeabi-v7a\\libveldrid-spirv.so
            build_target: android-armeabi-v7a
            artifact_name: build\android-armeabi-v7a\libveldrid-spirv.so
          - os: ubuntu-latest
            build_args: release
            build_target: linux-x64
            artifact_name: build/Release/libveldrid-spirv.so
          - os: macos-latest
            build_args: release -osx-architectures 'arm64;x86_64'
            build_target: osx
            artifact_name: build/Release/libveldrid-spirv.dylib
          - os: macos-latest
            build_args: release ios
            build_target: ios
            artifact_name: build/ios-Release/Release-iphoneos/libveldrid-spirv-combined.a
    name: ${{ matrix.build_target }} Native Build

    steps:
      - uses: actions/checkout@v2

      - name: Get Submodules
        run: git submodule update --init --recursive

      - name: Sync Third Party
        run:  |
              if [ "$RUNNER_OS" == "Windows" ]; then
                ./ext/sync-shaderc.cmd
              else
                ./ext/sync-shaderc.sh
              fi
        shell: bash

      - name: Build ${{ matrix.build_target }} Native Library
        run:  |
              if [ "$RUNNER_OS" == "Windows" ]; then
                ./build-native.cmd ${{ matrix.build_args }}
              else
                ./build-native.sh ${{ matrix.build_args }}
              fi
        shell: bash

      - name: Upload ${{ matrix.build_target }} Native Library
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.build_target }}
          path: ${{ matrix.artifact_name }}
          if-no-files-found: error

  managed_build:
    runs-on: windows-latest
    needs: native_builds

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Download win-x64
        uses: actions/download-artifact@v2
        with:
          name: win-x64
          path: build/Release

      - name: Download win-x86
        uses: actions/download-artifact@v2
        with:
          name: win-x86
          path: build/Release

      - name: Download android-arm64-v8a
        uses: actions/download-artifact@v2
        with:
          name: android-arm64-v8a
          path: build/Release

      - name: Download android-x86_64
        uses: actions/download-artifact@v2
        with:
          name: android-x86_64
          path: build/Release

      - name: Download android-armeabi-v7a
        uses: actions/download-artifact@v2
        with:
          name: android-armeabi-v7a
          path: build/Release

      - name: Download linux-x64
        uses: actions/download-artifact@v2
        with:
          name: linux-x64
          path: build/Release

      - name: Download osx
        uses: actions/download-artifact@v2
        with:
          name: osx
          path: build/Release

      - name: Download ios
        uses: actions/download-artifact@v2
        with:
          name: ios
          path: build/Release

      - name: Install .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        run: dotnet restore src

      - name: Build Project
        run: dotnet build -c Release --no-restore src

      - name: Run Tests
        run: dotnet run -p src/Veldrid.SPIRV.Tests/Veldrid.SPIRV.Tests.csproj -c Release

      - name: Build Packages
        run: dotnet pack src/Veldrid.SPIRV -c Release --no-restore --no-build

      - name: Upload NuGet package
        uses: actions/upload-artifact@v2
        with:
          name: nuget_package
          path: bin\Packages\Release\*.nupkg
          if-no-files-found: error

      - name: Publish to nuget.org
        if: startsWith(github.ref, 'refs/tags/')
        run: dotnet nuget push bin\Packages\Release\*.nupkg -s https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_KEY}}

